#tweets-input {
    width: 100%;
    margin: 25px auto;
}

#tweets-username-input {
    display: block;
    width: 400px;
    margin: 0 auto;
}

#tweets {
    background: url(../images/ajax-loader.gif) no-repeat center center;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

#left-pane {
    float: left;
    width: 22%;
    height: 100%;
    background-color: #F6FCF7;
    overflow: scroll;
}

#right-pane {
    float: left;
    width: 22%;
    height: 100%;
    background-color: #F6FCF7;
    overflow: scroll;
}

#center-pane {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
}

.tweets-noload {
    background: none !important;
}

.tweet-ls {
    padding: 0;
    margin: 0;
}

.loader-img {
    margin: 0 auto;
}

.checkboxWidget {
    padding: 15px;
    word-wrap: break-word;
}

.checkboxWidget:nth-child(odd) {
    background-color: #D4F4FF;
}

.checkboxWidget:nth-child(even) {
    background-color: #EDF9FC;
}

.tweet-message {
    margin: 40px;
}

