#tweets-input {
    width: 100%;
    margin: 25px auto;
}

#tweets-username_input {
    display: block;
    width: 400px;
    margin: 0 auto;
}

#tweets {
    background: url(../images/ajax-loader.gif) no-repeat center center;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.tweets-hashtags-checklist {
    float: left;
    width: 22%;
    height: 100%;
    background-color: #F6FCF7;
    overflow: scroll;
}

.tweets-users-checklist {
    float: left;
    width: 22%;
    height: 100%;
    background-color: #F6FCF7;
    overflow: scroll;
}

.tweets-container {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
}

.tweets-noload {
    background: none !important;
}

.tweet-ls {
    padding: 0;
    margin: 0;
}

.tweet-ls li {
    list-style-type: none;
    padding: 12px;
    padding-left: 10px;
    word-wrap: break-word;
}

.tweet-ls li:nth-child(even) {
    background-color: #EAF9EE;
}

.tweet-ls li:nth-child(odd) {
    background-color: #F6FCF7;
}

.tweet-hashtag {
    color: #B51638;
}

.tweet-mention {
    color: #172FB3;
}

.loader-img {
    margin: 0 auto;
}

.checkbox-element {
    padding: 15px;
    word-wrap: break-word;
}

.checkbox-element:nth-child(odd) {
    background-color: #D4F4FF;
}

.checkbox-element:nth-child(even) {
    background-color: #EDF9FC;
}


