.checkboxWidget {
    padding: 15px;
    word-wrap: break-word;
}

.checkboxWidget:nth-child(odd) {
    background-color: #D4F4FF;
}

.checkboxWidget:nth-child(even) {
    background-color: #EDF9FC;
}
